* {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.element {
  @include clearfix;
}

table {
  border-spacing: 0;
}

.hidden {
  display: none;
}

.hidden-info {
  display: none;
}

.job-content.active .hidden {
  display: block;
}

th,td {
  text-align: left;
  vertical-align: top;
  color: #302d2b;
  font-weight: 500;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid rgb(234,234,234);
}

tr {
  border-top: 1px solid rgb(234,234,234);
}

th {
  width: 30%;
}

dl, ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, p {
  margin: 0;
}

#email {
  width: 100%;
}

.bd-time {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  width: 60px;
  height: 24px;
  border-radius: 16px;
  background-color: #199cdb;
  color: #FFF;
  font-size: 14px;
}

.bg-grey {
  background: #f7f7f7;
}

.bd-section {
  border: 1px solid rgb(234,234,234);
}

.bd-right {
  border-right: 1px solid #d6c08d;
  margin-right: 10px;
}

.bd-certificate-content {
  border-bottom: 1px solid #d6c08d;
  padding-bottom: 30px;
}

.bd-top {
  border-top: 1px solid rgb(234,234,234);
  margin: 0;
}

section > .container{
  margin: auto;
}


.circle-before div::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #199cdb;
  left: 30px;
  margin-top: 6px;
  border-radius: 50%;
  z-index: 1;   
}

.grid-column-content {
  display: grid;
  grid-template-columns: 75% 25%;
  row-gap: 30px;
}

/* BANNER */

#banner {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
}

#banner div {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.596);
}

#banner .banner-title {
  font-size: 44px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#banner div span {
  color: rgba(252, 252, 252, 0.651);
  font-size: 16px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* NAV-BAR */

#nav-bar {
  text-align: center;
}

#nav-bar .container {
  padding: 0;
}

#nav-bar .container a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 20px;
  border-left: 1px solid rgb(241,241,241);
}

#nav-bar .container a:nth-child(2) {
  border-right: 1px solid rgb(241,241,241);
  margin-right: 360px;
}

#nav-bar .container a:nth-child(5) {
  border-right: 1px solid rgb(241,241,241);
}

#nav-bar .container a i {
  color: rgb(27,157,219);
}

#nav-bar .container img {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: 0 0 0 2px rgb(238, 234, 234);
  top: 620px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ABOUT */

#about .container {
  display: grid;
  padding: 0;
  grid-template-columns: 50% 50%;
  max-width: 100%;
}

#target {
  padding: 80px 60px 20px;
}

#about h1 {
  margin-bottom: 30px;
  font-size: 30px;
}

#target p {
  line-height: 1.6;
}

#personal-info {
  background-color: #f0f0f0;
  margin: 0;
  padding: 80px 40px 20px;
}

#personal-info ul {
  margin-bottom: 20px;
}

#personal-info ul li {
  line-height: 2;
}

#personal-info a {
  color: #4a9ddb;
  margin-right: 12px;
}

#text {
  display: block;
}

/* JOB-INFO */

#job-info h2 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

#job-info h1 {
  padding: 20px 10px 10px;
  font-size: 24px;
}

#job-info i {
  padding: 10px;
  font-size: 40px;
  color: #c6dbe9;
}

#job-info {
  font-size: 14px;
  margin-top: 50px;
}

#job-info .container {
  gap: 2%;
  row-gap: 30px;
}

#job-info .container .grid-column-content {
  width: 32%;
}

#job-info .container div {
  padding: 30px 20px;
}

#job-info .container div div {
  padding: 0;
  margin: 0;
}

#job-info .container div div {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 26px;
  line-height: 1.5;
  color: #afa89e;
}

#job-info .job-content {
  position: relative;
  /* grid-template-rows: 60px auto; */
}

svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.view-more-btn {
  text-decoration: none;
  color: #000;
  display: flex;
  width: 150px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  opacity: 0;
}

.view-more-btn:hover {
  color: #000;
}

.view-more-btn::after {
  content: 'VIEW MORE';
}

.job-content.active .view-more-btn::after {
  content: 'VIEW LESS';
}

.job-content.active svg {
  transform: scaleY(-1)
}

#job-info .container div:hover .view-more-btn {
  opacity: 1;
  background-color: rgb(245,246,187);
}

/* EXPERIENCE */

.experience div span {
  width: 70px;
  display: inline-block;
  text-align: center;
  font-style: italic;
  background-color: rgb(73,176,226);
  color: #fff;
  border-radius: 4px;
}

/* HOBBY */

#job-info .container .hobby div {
  padding: 0;
}

#job-info .container .hobby-icon {
  color: #159ee2;
  margin: 0 10px;
  text-align: center;
  font-size: 20px !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
}

.hobby-icon::before {
  display: block;
  padding-top: 4px;
}

.hobby i::after {
  display: block;
  font-size: 14px;
  color: #7c7872;
  margin-top: 20px;
  width: 70px;
  position: relative;
  left: -80%;
}

.ic-megaphone::after {
  content: 'Âm nhạc';
}

.ic-strategy::after {
  content: 'Chơi game';
}

.ic-hotairballoon::after {
  content: 'Du lịch';
}

.ic-basket::after {
  content: 'Nấu ăn';
}

/* LANGUAGE & SKILL */

#job-info .container .padding div {
  padding: 0 10px;
  color: #000;

}

#job-info .container .resize div h2 {
  font-size: 20px;
  padding: 10px 0;
}

#job-info .container div div .point {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: 2px;
  column-gap: 10px;
  padding: 0;
}

div .point p {
  display: inline-block;
  background-color: #199cdb;
}

div .point span {
  background-color: #f4f4f4;
}

/* CERTIFICATE */

#certificate {
  margin-top: 50px;
}

#certificate .container div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

#certificate .container div div {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 20px;
}

#certificate .container div img {
  width: 100%;
}

#certificate .container h1 {
  padding: 40px 0;
}

#certificate .container div div div {
  display: inline-block;
  padding-left: 20px;
}

#certificate .container div div h2 {
  font-size: 16px;
  padding-bottom: 10px;
}

#certificate .container div div p {
  line-height: 1.8;
}

/* PROJECT */

#project .container h1 {
  padding: 20px 0;
}

#project .container .project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
}

#project .container div img {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid rgb(234,234,234);
}

#project .project-content div div {
  padding: 16px;
}

#project .project-content div div h1 {
  padding: 0;
  font-size: 22px;
}

#project .project-content div div span {
  margin-right: 20px;
}

#project .project-content div div span i {
  margin-right: 6px;
}

/* FOOTER */

#footer .container ul {
  margin-top: 50px;
  height: 100px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .container ul li {
  cursor: pointer;
  margin-left: 20px;
}
#footer .container ul li i::before {
  display: inline-block;
  font-size: 30px;
  background-color: #f7f7f7;
  color: #159ee2;
}

#footer .container ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #302d2b;
}